@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.user-button > button {
  border: none;
}
